.admin-view {
	color:white;
}


div.admin-view section {
	border: 2px solid rgb(50, 83, 160);
	border-radius: 8px;
	margin-bottom: 8px;
}

div.admin-user-container {
	display: inline;
}

div.admin-view header {
	background-color:rgb(0, 128, 192);
	padding: 6px;
	font-weight: bold;
	font-size: 140%;
}

.admin-user-select {
	width:240px;
	display: inline-block;	
}

.admin-user-select li {
	color:	rgb(50, 83, 160);
	display: block;
	padding: 4px;
}

.admin-user-data {
	display: inline-block;
	align: top;
	color: black;
}

.admin-user-data label {
	border: 4px solid red;
	background-color:rgb(0, 128, 192);
	padding: 6px;
	margin: 6px;
	color: white;
	font-weight: bold;
	width: 100%;
	text-align: middle;
}

.admin-permission-section {
	color: black;
	padding:  6px;
}

.admin-permission-section span {
	display: inline;
	background-color:rgb(0, 128, 192);
	color: white;
	padding: 4px;
	margin: 2px;	
}
