div.modal-background {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: rgba(0,0,0,0.6);
}

.input {
	padding: 6px;
}

/*
 * Common widgets
 */
button {
	border: 0;
	border-radius: 6px;
	color: white;
	background-color:rgb(0, 128, 192);
	font-weight: bold;
	padding: 4px;
}