@import "theme.css";
@import "common.css";
@import "dialog.css";
@import "error.css";
@import "information.css";
@import "main.css";
@import "header.css";
@import "admin.css";

/*
 * Overall page style
 */
* {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-seerif, system;
}
