<!DOCTYPE html>
<html lang="en"  ng-app="tei">
<head>
<title>TEI</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="style/tei.css">

<!-- Using AngularJS -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-route.js"></script>
<script src="/js/checklist-model.js"></script>
<script src="/js/tei.js"></script>
<script src="/js/admin.js"></script>
</head>
<body>

<div ng-controller="abc">
	<header class="tei-header">
		<span>
	  		<h2>[[#{WELCOME}]], [[${user}]]</h2>
		</span>
		<span class="menu">
		    <ul class="menu">
		    	<li th:each="element : ${menuItems}"><a href="" th:href="${element.key}" th:text="#{${element.value}}">Link</a></li>
		    </ul>
		</span>
	</header>
	
	<section class="tei-section">
	  <article class="area-content" ng-view>
		  	<!-- View area -->
	  </article>
	  <footer>
		&copy;2022 Orbital3d Studios
	  </footer>
	</section>
	
</div>

<!-- Error dialog -->
<div class="modal-background" ng-if="errorDialog.visible == true">
	<div class="center-dialog error-dialog" ng-click="errorDialog.hide()">
		<div class="dialog-content error-dialog-content">
			<h1>{{errorDialog.message}}</h1>
			<label>{{errorDialog.description}}</label>
		</div>
	</div>
</div>
	
<!-- ---------- Information Dialog --------------- -->
<div class="modal-background" ng-if="information.visible == true">
	<div class="center-dialog information-dialog" ng-click="information.hide()">
		<div class="dialog-content information-content">
			<h1 class="middle-align">{{information.message}}</h1><br>
		</div>
	</div>
</div>


</body>
</html>

